{%extends "inicio/principal.html"%}
{% block titulo %} Blog {% endblock %}

{% block contenido %}
<h1 style="text-align: center; padding-bottom: 15px;">Blog</h1>
<div class="container">
    <div class="imagen-promocion">
        <img src="https://i.ytimg.com/vi/tzhnfcLLrSE/maxresdefault.jpg" alt="Imagen 1"  style="padding-left: 250px ; height: 200px;">
        <div class="flecha izquierda">
            <i class="fas fa-chevron-left"></i>
        </div>
        <!-- Flecha a la derecha -->
        <div class="flecha derecha">
            <i class="fas fa-chevron-right"></i>
        </div>

    </div>

</div>

{%endblock%}