{%extends "inicio/principal.html"%}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="container">
    <div class="carrito">
        <h2>Carrito de Compras</h2>

        <div class="lista-productos">
            <div class="producto">
                <img src="https://i.pinimg.com/originals/5c/09/09/5c0909173a1524c8270bf87557e1a7c6.jpg" style="height: 200px;" alt="Producto 1">
                <div class="descripcion">
                    <h3>Producto 1</h3>
                    <p>Precio: $50.00</p>
                    <p>Cantidad: 1</p>
                </div>
                <button class="eliminar">Eliminar</button>
            </div>

        
    </div>
</div>

{%endblock%}