{%extends "inicio/principal.html"%}
{% block titulo %} Contacto {% endblock %}
{% block contenido %}
<div class="container">
    <div class="texto-promocion">
        <p>¡Bienvenidos a Game Center, tu destino definitivo para accesorios y juegos de consolas!

            En Game Center, somos apasionados por los videojuegos y nos dedicamos a mejorar tu experiencia de juego. Desde nuestros inicios, hemos trabajado incansablemente para ofrecer a los gamers de todo el mundo los mejores accesorios y juegos de consolas. Nuestra misión es simple: proporcionarte todo lo que necesitas para llevar tu pasión por los videojuegos al siguiente nivel.
            
            Nuestra Historia
            
            Game Center nació de un grupo de amigos entusiastas de los videojuegos que compartían una visión común: crear un lugar donde los gamers pudieran encontrar todos los accesorios y juegos que desean. Con años de experiencia en la industria del gaming, entendemos las necesidades de nuestros clientes y nos</p>
        
    </div>

    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/6e90c9144428819.Y3JvcCwxMzgwLDEwODAsNDEzLDA.png" alt="Imagen promocional" class="imagen-promocion">
    
</div>
<div class="formulario-contacto">
    <h2>Formulario de Contacto</h2>
    <form action="#" method="POST">
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="campo">
            <label for="telefono">Número de Teléfono:</label>
            <input type="tel" id="telefono" name="telefono">
        </div>
        <div class="campo">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>

{%endblock%}