{%extends "inicio/principal.html"%}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<div class="container">
    <div class="texto-promocion">
        <h1>30% de descuento en compras mayores de $200</h1>
        <a href="#" class="boton-catalogo">Catálogo</a>
    </div>

    <img src="https://assets.xboxservices.com/assets/4e/72/4e7224cf-1368-489e-984e-3415a8dd13ce.png?n=Console-Hub_Content-Placement-0_SeriesX_740x555.png" style="height: 300px;" alt="Imagen promocional" class="imagen-promocion">
</div>

        <p style="text-align: center; padding-top: 15px;">Encuentra los mejores productos al mejor precio para tus consolas de videojuego</p>

{%endblock%}