{%extends "inicio/principal.html"%} {% block titulo %}Productos {% endblock %}
{% block contenido %}
<div class="container">
  <!-- Sección de imágenes y botones -->
  <div class="imagen-promocion">
    <img
      src="https://i.gifer.com/origin/31/31929d25c7d197e6a1757f9e78319ecd_w200.gif"
      alt="Imagen 1"
      style="height: 100px"
    />
    <div class="botones">
      <button>Botón 1</button>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://i.pinimg.com/originals/50/59/ed/5059ed2e8f0c68645b985a96a3e59dcf.gif"
      alt="Imagen 2"
      style="height: 100px"
    />
    <div class="botones">
      <button>Botón 2</button>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://i.gifer.com/origin/20/202ac1347865d0646c7228d9711cba93_w200.gif"
      alt="Imagen 3"
      style="height: 150px"
    />
    <div class="botones">
      <button>Botón 3</button>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://media.tenor.com/FJQJzNAuTqkAAAAM/loading-microsoft-windows.gif"
      alt="Imagen 4"
      style="height: 200px"
    />
    <div class="botones">
      <button>Botón 4</button>
    </div>
  </div>
</div>

{% endblock %}
