{%extends "inicio/principal.html"%} {% block titulo %}Productos {% endblock %}
{% block contenido %}
<h1 style="text-align: center; padding-bottom: 15px">Juegos</h1>
<div class="container">
  <!-- Sección de imágenes y botones -->
  <div class="imagen-promocion">
    <img
      src="https://i.gifer.com/origin/31/31929d25c7d197e6a1757f9e78319ecd_w200.gif"
      alt="Imagen 1"
      style="height: 100px"
    />
    <div class="botones">
    <a href="{% url 'JuegosXbox' %}">
      <button>Juegos Xbox</button>
    </a>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://i.pinimg.com/originals/50/59/ed/5059ed2e8f0c68645b985a96a3e59dcf.gif"
      alt="Imagen 2"
      style="height: 100px"
    />
    <div class="botones">
    <a href="{% url 'JuegosPlayStation' %}">
      <button>Juegos PlayStation</button>
    </a>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://i.gifer.com/origin/20/202ac1347865d0646c7228d9711cba93_w200.gif"
      alt="Imagen 3"
      style="height: 105px"
    />
    <div class="botones">
    <a href="{% url 'JuegosNintendo' %}">
      <button>Juegos Nintendo</button>
    </a>
    </div>
  </div>
  <div class="imagen-promocion">
    <img
      src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNjFxcDZia2xiMDNhaWVrbnl4OHI1N2J3bWcwM2Y5YzBudHdwb2d0ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/hJaQNVrOPC4Ja/giphy.webp"
      alt="Imagen 4"
      style="height: 105px"
    />
    <div class="botones">
      <a href="{% url 'JuegosPC' %}">
        <button>Juegos PC</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}
