<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %} {% endblock %}</title>
    {% load static %}
    <link
      href="{% static 'inicio/css/pagina.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- MENÚ -->
    <div class="navbar">
      <div class="navbar-logo">
        <a href="{% url 'Inicio' %}">
          <img
            src="{% static 'inicio/images/logo1.png' %}"
            style="height: 60px"
            alt="Logo"
          />
        </a>
      </div>
      <div class="navbar-links">
        <a href="{% url 'Inicio' %}">Inicio</a>
        <a href="{% url 'Productos' %}">Productos</a>
        <a href="{% url 'Blog' %}">Blog</a>
        <a href="{% url 'Formulario' %}">Contactanos</a>
        <a href="{% url 'Contacto' %}">Acerca de nosotros</a>
        
      </div>
      <div class="navbar-cart">
        <a href="{% url 'cart_summary' %}">
          <img
            src="{% static 'inicio/images/carrito.png' %}"
            style="height: 30px"
            alt="Carrito de compra"
          
          />
          <span class="badge bg-dark text-white ms-1 rounded-pill text-yellow" id="cart_quantity">{{ cart|length }}
          </span>
          

        </a>
      </div>

      <div class="navbar-login">
        <a href="{% url 'admin:index' %}">
          <button>Iniciar sesión</button>
        </a>
      </div>
    </div>

    <div style="padding: 20px">
      <!-- CONTENIDO -->
      {% block contenido %}
      <!--Template Tag-->

      <!-- block sirve para indicar que colocaremos un bloque de contenido a través de nuestra variable content -->
      {% endblock %}
    </div>

    
    
    <!-- Script para redireccionamiento -->
    <script src="{% static 'inicio/js/pagina.js' %}"></script>
    <script src="{% static 'inicio/js/modal.js' %}"></script>
    <script src="{% static 'inicio/js/carrito.js' %}"></script>
    <script src="{% static 'inicio/js/carrito2.js' %}"></script>
  </body>
</html>
