{%extends "inicio/principal.html"%}
{% block titulo %}Productos {% endblock %}

{% block contenido %}
<h1 style="text-align: center; padding-bottom: 15px;">Productos</h1>
<div class="container">
    <div class="imagen-promocion" style="padding-left: 150px;">
        <img src="https://gmedia.playstation.com/is/image/SIEPDC/playstation-accessories-keyart-01-en-24mar22?$facebook$" alt="Imagen 1"  style=" height: 100px;">
        <div class="botones" >
            <button>Accesorios</button>
           
        </div>
    </div>
    <div class="imagen-promocion">
        <img src="https://www.mundodeportivo.com/alfabeta/hero/2024/05/miniatura-fov-cod.png?width=1200" alt="Imagen 2" style=" height: 100px; border-radius: 30px; ">
        <div class="botones">
            <button>Juegos</button>
           
        </div>
    </div>
</div>

    

{%endblock%}