{%extends "inicio/principal.html"%}
{% block titulo %} Blog {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<h1 style="text-align: center; padding-bottom: 15px;">Blog</h1>
<div class="container">
    <div class="blog">
        <img src="https://i.ytimg.com/vi/tzhnfcLLrSE/maxresdefault.jpg" alt="Imagen del Blog" class="carousel-image">
        <div class="flecha izquierda" onclick="prevImage()">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div class="flecha derecha" onclick="nextImage()">
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
</div>

<div class="formulario-contacto">
    <h2>Dejanos saber tu experiencia</h2>
    <form action="{% url 'Registrar'%}" method="POST"role="form">
        {%csrf_token%}
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="usuario" required>
        </div>
        <div class="campo">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="mensaje" rows="4" required></textarea>
        </div>
        <button type="submit">Enviar</button>
    </form>
</div>
<div class="container_card">
    <div class="row">
    {% for comentarios in consultas %}
    
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{comentarios.usuario}}</h5>
                    <p class="card-text">{{comentarios.mensaje}}</p>
                    
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
   
</div>





{%endblock%}