{%extends "inicio/principal.html"%}
{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<h1 style="text-align: center; padding-bottom: 15px">Carrito de compras</h1>
<p style="text-align: center; padding-bottom: 15px"> Ve tu carrito...</p>
<div class="container">
    <div class="texto-promocion">
        <h1></h1>
        
        <div class="container">
        {% if cart_products %}
            {% for product in cart_products %}
                <div style="text-align: justify;" class="cart-item">
                    
                    <p><strong>Producto:</strong> {{ product.nombre }}</p>
                    <p><strong>Precio:</strong> {{ product.precio }}</p>

                </div>
            {% endfor %}
            {% else %}
            No hay nada en tu carrito...
            <br/><br/><br/><br/><br/><br/>
            {% endif %}
        </div>
        
        <style>
            .cart-item {
                border: 1px solid #ddd;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                display: flex;
                flex-direction: column; /* Apilar elementos en columna */
                align-items: flex-start; /* Alinear elementos al inicio */
            }
        
            .product-image {
                max-width: 100px;
                margin-bottom: 10px; /* Espacio entre la imagen y el texto */
                border-radius: 5px;
            }
        </style>

       



{%endblock%}