{%extends "inicio/principal.html"%}
{% block titulo %} Blog {% endblock %}

{% block contenido %}

<h1 style="text-align: center; padding-bottom: 15px">Accesorios Xbox</h1>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalDescription" style="text-align: center; margin-top: 10px;"></p>
    </div>
</div>
<div class="container_card">
    <div class="row">
        {% for accesorio in accesorios %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- Imagen del juego en la parte superior con clase card_imagen -->
                   
                        <img src="{{ accesorio.imagen.url }}" data-description="{{ accesorio.descripcion }}" style="cursor: pointer;" class="card_imagen">
                     
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{ accesorio.nombre }}</h5>
                    
                    </div>

                    <!-- Precio del juego en la parte inferior -->
                    <div class="card-footer text-center">
                        <span class="text-muted">${{ accesorio.precio }}</span>
                        <br/>
                        <button type="button" value ="{{accesorio.id}}" class="btn btn-secondary" id="add-cart">Agregar al carrito</button>

                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>

    //Revisar si el boton fue presionado
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken:'{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json){
                console.log(json)
            },
            error: function(xhr, errmsg,err){
    
            }
    
    
        });
    
    
    })
    
    
    
    </script>





{%endblock%}