{%extends "inicio/principal.html"%}
{% block titulo %} Blog {% endblock %}

{% block contenido %}
<h1 style="text-align: center; padding-bottom: 15px">Accesorios Nintendo </h1>

<div class="container_card">
    <div class="row">
        {% for accesorio in accesorios %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <!-- Imagen del juego en la parte superior con clase card_imagen -->
                   
                        <img src="{{ accesorio.imagen.url }}" class="card_imagen">
                     
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{ accesorio.nombre }}</h5>
                    
                    </div>

                    <!-- Precio del juego en la parte inferior -->
                    <div class="card-footer text-center">
                        <span class="text-muted">${{ accesorio.precio }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





{%endblock%}